.grid-wrapper {
  --auto-grid-min-size: 450px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.courses {
  width: 100%;
  color: rgb(53, 53, 53);
}
.course-card {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
.industry-status {
  padding-bottom: 10px;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}
.course-card img {
  width: 100%;
  height: auto;
}

.course-card > div {
  padding: 0px 20px;
}
.course-card h4 {
  margin: 0px;
}
.course-details {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.course-details p {
  max-width: 300px;
  font-weight: 600;
}
.btn-gray {
  color: rgb(43, 43, 117);
  padding: 20px;
  white-space: nowrap;
  font-weight: 500;
  background-color: rgb(232, 231, 240);
}

.card .content {
  padding: 20px 30px;
}
.Loading {
  padding-bottom: 30px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-size: larger;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.card .is-loading,
.load-h2,
.load-p,
.loading-image {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.card.is-loading .loading-image {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card.is-loading h2 {
  height: 30px;
}
.card.is-loading p {
  height: 70px;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .grid-wrapper {
    --auto-grid-min-size: unset;
  }
}
