.nav {
  display: flex;
  font-family: "Josefin Sans", cursive;
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: #232263;
  color: white;
  justify-content: start;
  align-items: center;
}
.about {
  display: flex;
  width: 40vw;
}
.about_field {
  text-align: end;
  width: 100%;
  padding: 20px;
  color: rgb(51, 51, 51);
  background-color: white;
}
.btn {
  padding: 32px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(128, 128, 128, 0.2);
}
.buttons {
  display: flex;
}
.buttons > a {
  padding: 25px;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}
.menu_button {
  display: none;
}
.btn-red {
  background-color: #c01e2f;
}
.btn-red:hover {
  background-color: rgba(238, 56, 74, 0.7);
}

.side_nav {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  position: -100%;
  background-color: #1f1e80;
  transition: 0.5s;
}
.side_nav > a {
  width: 100%;
  color: white;
  border-bottom: 1px outset rgba(230, 230, 230, 0.5);
  padding: 17px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.side_nav > a:hover {
  background-color: rgb(128, 128, 128, 0.2);
}

@media only screen and (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }
  .btn {
    padding: 20px 15px;
  }
  .nav_data {
    display: none;
  }
  .about_field {
    text-align: end;
    width: 100%;
    padding: 10px;
  }
  .about {
    display: flex;
    width: 70vw;
  }
  .buttons > a {
    display: block;
    padding: 0px 15px;
  }
}
