.info_page {
  display: flex;
  color: white;
  flex: auto, 1;
}

.info_sections {
  display: flex;
  flex-direction: column;
}
.info_sections > a {
  padding: 40px 100px;
  text-align: center;
  font-size: x-large;
  border-width: 1px;
  border-color: #8688bb;
  border-style: ridge;
  white-space: nowrap;
  background-color: #232263;
  cursor: pointer;
}
.info_sections > a:hover {
  background-color: #3634a8;
}

.image_section {
  width: 100%;
  background-size: auto 100%;
  position: relative;
}
.image_section > div {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.image_section > div > h1 {
  font-size: 38px;
}
.image_section > a {
  color: white;
  font-weight: bold;
  padding: 20px 25px;
  position: relative;
}

.image_section > div > p {
  font-size: 18px;
  max-width: 700px;
  line-height: 30px;
}
@media only screen and (max-width: 1000px) {
  .info_page {
    display: block;
  }
  .image_section {
    background-size: auto 100%;
  }
  .image_section > div {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 30px;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .info_sections > a {
    padding: 20px;
    text-align: center;
    font-size: larger;
    border-width: 1px;
    border-color: #8688bb;
    border-style: ridge;
    white-space: nowrap;
    background-color: #232263;
    cursor: pointer;
  }
  .image_section {
    background-position: right;
    background: rgba(68, 68, 68, 0.5);
    background-blend-mode: overlay;
  }
  .image_section > div > h1 {
    font-size: xx-large;
  }
  .image_section > div > p {
    font-size: medium;
  }
}

@media only screen and (max-width: 1000px) {
  .nav {
    justify-content: space-between;
  }
  .btn {
    padding: 20px 15px;
  }
  .nav_data {
    display: none;
  }
  .about_field {
    text-align: end;
    width: 100%;
    padding: 10px;
  }
  .about {
    display: flex;
    width: 70vw;
  }
  .buttons > a {
    display: block;
    padding: 0px 15px;
  }
}
